body {
  background-image: url('/public/assets/18f020e6-e898-4a41-b5c5-fd16d5bf7a3e.webp'); /* Imposta l'immagine di sfondo */
  background-repeat: repeat; /* Ripete l'immagine per coprire l'intero sfondo */
  background-size: auto; /* Imposta la dimensione dell'immagine */
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.home-container {
  width: 80%;
  margin: auto; /* Centra il contenuto all'interno del viewport */
}

/* HERO BANNER */

.hero-banner {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  background-image: url('/public/assets/DALL·E 2024-05-16 13.11.58 -.webp'); /* Imposta un'immagine di sfondo per il banner */
  background-repeat: no-repeat; /* Impedisce la ripetizione dell'immagine */
  background-size: 100% auto; /* Ridimensiona l'immagine per coprire completamente il banner */
  background-position: center; /* Centra l'immagine */
  height: 700px; /* Altezza del banner */
  color: rgb(229, 229, 229); /* Colore del testo all'interno del banner */
  display: flex;
  flex-direction: column; /* Dispone gli elementi in colonna */
  align-items: center; /* Centra orizzontalmente il contenuto */
  justify-content: center; /* Centra verticalmente il contenuto */
  margin-top: 120px; /* Distanza dalla navbar */
  text-align: left; /* Allinea il testo a sinistra */
  border-radius: 5px;
}

.hero-banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.508); /* Overlay semi-trasparente */
  z-index: 1; /* Posiziona l'overlay sopra l'immagine */
}

.hero-banner > * {
  position: relative;
  z-index: 2; /* Posiziona il contenuto sopra l'overlay */
}

.hero-banner h1 {
  font-size: 48px;
  margin-bottom: 20px; /* Spazio sotto l'h1 */
  text-align: center; /* Centra l'h1 */
}

.hero-banner p {
  letter-spacing: 0.5px;
  font-size: 22.5px;
  margin-bottom: 95px; /* Spazio sotto il paragrafo */
  text-align: center; /* Centra il paragrafo */
}

.hero-banner ul {
  margin-bottom: 30px; /* Spazio sotto la lista */
  text-align: left; /* Allinea la lista a sinistra */
  padding: 0; /* Rimuove il padding */
  align-self: flex-start;
  margin-left: 100px;
}

.hero-banner ul li {
  font-size: 20px;
  margin-bottom: 10px; /* Spazio tra gli elementi della lista */
}

/* BUTTON JOIN ------------------------------*/
.join-now-button {
  font-weight: bold;
  padding: 15px 20px;
  background-color: #ffffff83;
  border: 2px inset #e8e7e64e;
  color: rgb(5, 5, 5);
  cursor: pointer;
  font-size: 18px;
  border-radius: 18px;
  box-shadow: 0 10px 10px rgba(10, 3, 0, 0.8);
  transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease,
    border 0.2s ease;
  margin-top: 70px;
  align-self: flex-start; /* Posiziona il pulsante a sinistra */
  margin-left: 100px; /* Aggiungi margine sinistro per allinearne il contenuto */
}

.join-now-button:hover {
  background: linear-gradient(
    to bottom,
    #ffffff,
    #a0a0a0eb
  ); /* Sfumatura dal bianco al grigio chiaro */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Aumenta l'ombra al passaggio del mouse */
  border: 2px inset #e8e7e6e2; /* Cambia il colore del bordo al passaggio del mouse */
  transition: box-shadow 0.2s ease, border 0.2s ease;
}

.join-now-button:active {
  background: linear-gradient(
    to bottom,
    #ff5900,
    #5a1c06f1
  ); /* Sfumatura arancione che scurisce verso il basso */
  box-shadow: 0 5px 12px rgba(185, 134, 92, 0.8); /* Riduce l'ombra quando il pulsante è attivo */
  color: #fdfafa; /* Cambia il colore del testo quando il pulsante è attivo */
  border: 2px inset #dd5c1cd2; /* Mantiene il bordo al click */
  transition: box-shadow 0s ease, border 0s ease; /* Rimuovi transition per background-color e color */
}

/* END BUTTON JOIN ------------------------------*/

/* Stile HERO-sub-IMG */
.hero-image {
  position: absolute;
  top: 50%; /* Centra verticalmente l'immagine */
  right: 20px; /* Posiziona l'immagine sul lato destro */
  transform: translateY(-50%); /* Centra l'immagine */
  max-width: 200px; /* Limita la larghezza dell'immagine */
  z-index: 2; /* Assicura che l'immagine sia sopra l'overlay */
}

.hero-image img {
  width: 30%;
  height: auto;
  border-radius: 10px; /* Aggiunge angoli arrotondati all'immagine */
}

/* FINE Stile HERO-sub-IMG------------------------------*/

/*FINE HERO-BANNER--------------------------------------*/

.categories-section,
.featured-products-section {
  padding: 20px; /* Spaziatura interna per le sezioni */
}

.categories-container,
.products-container {
  display: flex;
  flex-wrap: wrap; /* Permette agli elementi di andare a capo quando non c'è spazio */
  justify-content: space-around; /* Distribuisce equamente lo spazio intorno agli elementi */
}

.category-card,
.product-card {
  width: 200px; /* Larghezza di ogni card di categoria e prodotto */
  margin: 10px; /* Margini attorno alle card */
  text-align: center; /* Allinea il testo al centro delle card */
  border: 1px solid #ddd; /* Bordo attorno alle card */
}

.category-image-wrapper,
.product-image {
  width: 100%; /* Larghezza delle immagini all'interno delle card */
  height: 150px; /* Altezza delle immagini all'interno delle card */
  object-fit: cover; /* Assicura che le immagini coprano l'intero spazio designato senza distorcere */
}

.category-name,
.product-info {
  padding: 10px; /* Spaziatura interna per il testo sotto le immagini */
}

.product-info .product-name {
  font-size: 16px; /* Dimensione del font per il nome del prodotto */
}

.product-info .product-price {
  color: #c44a1d; /* Colore del prezzo del prodotto */
  font-weight: bold; /* Grassetto per il prezzo del prodotto */
}
