.fixed-navbar {
  width: 100%;
  position: fixed; /* Posizione fissa */
  top: 0; /* Attacca la navbar alla parte superiore dello schermo */
  left: 0; /* Allinea la navbar a sinistra */
  z-index: 100; /* Assicura che la navbar sia sopra altri elementi */
}
.navbar {
  height: 75px;
  width: 100%;
  margin: 0;
  background: linear-gradient(
    to bottom,
    #393939db,
    #000000f2
  ); /* Sfumatura dal colore specificato verso il nero */
  border-bottom: 5px inset #ff652f;
  box-shadow: 0 3px 10px #180701f0; /* Aggiunta dell'ombreggiatura nera sotto il bordo arancione */
}
.navbar-brand {
  margin: auto 30px;

  /* Altezza del logo */
}

.navbar-brand img {
  width: 130px;
  height: 50px; /* Altezza del logo */
}

.navbar-nav .nav-link {
  margin-right: 20px;
  font-size: 20px;
  color: #dddddde4;
}

.log-pos {
  margin: auto;
  font-size: 20px;
}

.navbar-nav .nav-link:hover {
  color: #f24d11;
}

.search-form {
  position: relative; /* Importante per il posizionamento dell'icona */
  max-width: 100%;
  width: 420px; /* Adatta la larghezza del form alla tua necessità */
  margin: auto auto; /* Centra il form se necessario */
}

.form-control {
  height: 40px;
  transition: background-color 0.3s ease;
  background: linear-gradient(to bottom, #ffffffee, #555555f1);
  padding-right: 45px !important; /* Spazio a destra per l'icona */
  border-radius: 20px !important; /* Maggiore arrotondamento dei bordi con !important */
}

.form-control::placeholder {
  font-weight: bold;
}

.search-icon {
  font-size: 30px;
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  color: #f24d11;
  cursor: pointer; /* Cambia il cursore quando si passa sopra l'icona */
}

.form-control:hover {
  background-color: #ffffffbc;
}

.btn-outline {
  background-color: #f24d113f;
  color: #4f0101;
  border-color: #f24d11ba;
  transition: all 0.3s ease;
  position: relative;
}

.btn-outline:hover {
  background-color: #f24d11;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}
