.navbar {
  height: 75px;
  width: 100%;
  margin: auto;
  background: linear-gradient(
    to bottom,
    #383838ee,
    #000000e4
  ); /* Sfumatura dal colore specificato verso il nero */
  border-bottom: 5px inset #ff652f;
}

.navbar-brand {
  margin: auto 30px;

  /* Altezza del logo */
}

.navbar-brand img {
  width: 130px;
  height: 50px; /* Altezza del logo */
}

.navbar-nav .nav-link {
  margin-right: 20px;
  font-size: 20px;
  color: #dddddde4;
}

.log-pos {
  margin-right: 10px;
  font-size: 20px;
}

.navbar-nav .nav-link:hover {
  color: #f24d11;
}

/* Stili specifici per il form di ricerca */
.search-form {
  position: relative; /* Importante per il posizionamento dell'icona */
  max-width: 100%;
  width: 365px; /* Adatta la larghezza del form alla tua necessità */
  margin: auto 400px; /* Centra il form se necessario */
}

/* Stili per il campo di input con icona integrata */
.form-control {
  max-width: 100%;
  width: 370px;
  transition: background-color 0.3s ease;
  background-color: #fff;
  padding-right: 30px; /* Spazio a destra per l'icona */
  border-radius: 20px; /* Opzionale: bordi arrotondati */
}

/* Icona di lente di ingrandimento posizionata all'interno dell'input */
.search-icon {
  font-size: 24px;
  position: absolute;
  right: 9px;
  top: 50%;
  transform: translateY(-50%);
  color: #f24d11;
  cursor: pointer; /* Cambia il cursore quando si passa sopra l'icona */
}

.form-control:hover {
  background-color: #ffffffbc;
}

/* Stili per i pulsanti e altri elementi della navbar, se necessario */
.btn-outline {
  background-color: #f24d113f;
  color: #fff;
  border-color: #f24d11;
  transition: all 0.3s ease;
  position: relative;
}

.btn-outline:hover {
  background-color: #f24d11;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}
