.hero-cart-banner {
  position: relative;
  z-index: 17;
  box-shadow: 8px -8px 30px rgba(10, 3, 0, 0.837);
  margin: auto;
  width: 80%;
  background-position: center;
  max-height: 6500px;
  color: rgb(229, 229, 229);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  border-radius: 15px;
  background: url('/public/assets/cartBanner.webp') no-repeat center center
    fixed;
  border-top: 2px inset #ff5900fb;
  border-left: 4px inset #ff5900;
  margin-top: 7.5%;
  margin-bottom: 2.5%;
  border-radius: 10px;
}

.hero-cart-banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.371);
  z-index: 10;
}

/*Carrello Style----------*/

.cart-container {
  width: 100%;
  max-width: 600px;
  z-index: 11;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-bottom: 30px;
  margin-top: 3%;
}

.orange-bg {
  padding: 20px;
  box-shadow: 8px 7px 6px rgba(0, 0, 0, 0.898);
  border-radius: 25px;
  background: linear-gradient(to top, #00000016, #000000c6);
  border-top: 4px inset #9b3900e1;
  border-left: 8px inset #953400cf;
  border-bottom: 4px groove #6f2900ec;
}

.cart-box {
  min-width: 80%;
  padding: 20px 20px;
  margin: auto;
  box-shadow: 8px 6px 2px rgba(0, 0, 0, 0.898);
  position: relative;
  border-radius: 25px;
  background: linear-gradient(to top, #00000099, #00000092);
  border-top: 2px inset #ff5900;
  border-left: 4px inset #ff5900;
  border-bottom: 4px groove #6f2900ec;
  color: #eaeaeae9;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.121);
  z-index: 1;
}

/*---------------------------------------------------------*/

.product-card-two {
  margin-bottom: 50px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  z-index: 100;
  width: 400px;
  background: linear-gradient(to right, #ffffff, #b6b6b6f7);
  border-radius: 12px;
  overflow: hidden;
  border: 2px outset #ff4400f6;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6), inset 0 0 10px #ff4400fa;
  transition: transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
}

.product-card-two h2 {
  margin: 10px auto;
  max-width: 90%;
  font-size: 25px;
  font-weight: 900;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.851);
  background: -webkit-linear-gradient(#1b1b1b, #363636);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.product-card-two p {
  border-top: 2px inset #9b3900e1;
  border-left: 4px inset #953400cf;
  border-bottom: 6px groove #6f2900ec;
  font-weight: bold;
  filter: blur(0.2px);
  letter-spacing: 1.5px;
  width: 50%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-self: center;
  font-size: 20px;
  color: #000000;
  background: linear-gradient(to right, #ffffff, #b6b6b6f7);
  padding: 3px;
  border-radius: 15px;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
  margin: 15px auto;
  padding-left: 25px;
  padding-top: 5px;
}

.cart-detail {
  margin: 10px;
  border-top: 2px inset #ea5600e1;
  border-left: 4px inset #bf4300cf;
  border-bottom: 6px groove #aa3e00ec;
  border-radius: 10px;
}

.cart-imgCart {
  width: 95%;
  margin: 10px;
  border-top: 2px inset #ea5600e1;
  border-left: 4px inset #bf4300cf;
  border-bottom: 6px groove #aa3e00ec;
  border-radius: 10px;
}

.cart-button {
  filter: blur(0.1px);
  margin-top: 20px;
  box-shadow: 4px 3px 10px 0 rgba(11, 11, 11, 0.835);
  font-weight: bold;
  background: linear-gradient(to top, #ff5900f7, #903500c8);
  color: rgba(255, 255, 255, 0.885);
  border: none;
  border-radius: 8px;
  font-size: 18px;
  width: 50%;
  transition: box-shadow 0.1s ease;
}

.cart-button:hover {
  filter: blur(0.3px);
  box-shadow: -2px -2px 10px 0 rgba(11, 11, 11, 0.804);
  border-radius: 10px;
  background: linear-gradient(340deg, #419c01f0, #2d6800ea);
}

.cart-total {
  color: #000000db;
  box-shadow: -4px -3px 10px 0 rgba(0, 0, 0, 0.936);
  padding: 15px 20px;
  border-radius: 10px;
  border-top: 2px inset #9f3801a3;
  background: linear-gradient(to top, #fffffffa, #bbbbbbf7);
  font-weight: 900;
}

/*---------------------CART PIENO-----------------------------------------------*/

.remove-item-button {
  width: 43px;
  padding-bottom: 10px;
  margin-left: 45%;
  margin-bottom: 10px;
  font-size: 15px;
  background: linear-gradient(to top, #87000099, #9c0000ea);
  color: rgba(255, 255, 255, 0.898);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 900;
}

.remove-item-button:hover {
  background: linear-gradient(to top, #b30101f1, #e20000d5);
}

.icon {
  font-size: 80px;
  filter: blur(0.4px);
  margin-right: 10px;
  margin-bottom: 20px;
  color: #a58a46;
}

/*-----------------Sez. metodo di pagamento---------------------------------*/

.payment-methods {
  max-width: 600px;
  box-shadow: 4px 3px 20px 0 rgba(11, 11, 11, 0.835);
  margin-bottom: 15px;
  z-index: 11;
  position: relative;
  border-top: 2px inset #ff5900;
  border-left: 4px inset #ff5900;
  background: linear-gradient(to left, #c4c4c4, #ffffff);
  padding: 30px;
  border-radius: 15px;
}

.payment-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-right: 20px;
  margin-bottom: 25px;
}

.payment-icons i {
  filter: blur(0.3px);
  margin-left: 30px;
  font-size: 41px;
}

.fa-paypal {
  color: #009cde;
}

.fa-cc-mastercard {
  color: #eb001b;
}

.fa-cc-visa {
  color: #1b2075;
}

.fa-cc-amex {
  color: #4685e9;
}

.fa-cc-discover {
  color: #fd6709;
}

.payment-button {
  padding-bottom: 12px;
  margin-top: 3px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  width: 100%;
  transition: background 0.3s ease, transform 0.3s ease;
  border: none;
}

.payment-button.paypal {
  border: none;
  color: #e2e1e1;
  background: linear-gradient(130deg, #008fcc, #003e59ef);
}

.payment-button.paypal:hover {
  border: none;
  background: linear-gradient(130deg, #009de1, #005174);
  transform: scale(1.01);
}

.payment-button.card {
  border: none;
  color: #e2e1e1;
  margin-top: 20px;
  background: linear-gradient(130deg, #1d8420c0, #092a0ac3);
}

.payment-button.card:hover {
  border: none;
  background: linear-gradient(130deg, #20a325ab, #0e420fc8);
  transform: scale(1.01);
}

.payment-button * {
  pointer-events: auto;
}

/*-----------------------------------------------*/
/*-----------------------------------------------*/

.promotion {
  box-shadow: 3px 2px 7px 0 rgba(11, 11, 11, 0.835);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: bold;
  background: linear-gradient(130deg, #ff5900e0, #3b1600dc);
  border-left: 1px solid #a03800;
  margin-top: 3px;
  padding: 15px;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 10px;
}

.subscribe-button {
  margin-top: 15px;
  margin-bottom: 8px;
  pointer-events: auto;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 30px;
  background: linear-gradient(360deg, #090909fb, #404040f5);
  box-shadow: 3px 2px 7px 0 rgba(11, 11, 11, 0.835);
  border: none;
  transition: background 0.2s ease-in-out, transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
}

.subscribe-button:hover {
  background: linear-gradient(360deg, #161616f6, #4b4b4b);
  box-shadow: 6px 2px 10px 0 rgba(11, 11, 11, 0.835);
  transform: scale(1.1);
}

.one {
  width: 400px;
  height: 15px;
  margin: 10px 0;
}

.two {
  height: 15px;
  width: 200px;
  margin: 10px 0;
}

.fa-hand-point-up {
  margin-bottom: 15px;
  filter: blur(0.5px);
  cursor: pointer;
  font-size: 50px;
  color: #e5e5e5eb;
  transition: transform 0.7s ease;
}
.fa-hand-point-up:hover {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.gift-purchase {
  border-top: 2px inset #ff5900;
  border-left: 4px inset #ff5900;
  background: linear-gradient(to top, #00000098, #000000);
  font-family: 'Courier New', Courier, monospace;
  border-radius: 10px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 25px;
  z-index: 10;
}

.gift-purchase input[type='checkbox'] {
  margin-left: 10px;
  margin-top: 13px;
  margin-right: 13px;
}

.gift-purchase label {
  padding-left: 5px;
  padding-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background: linear-gradient(to top, #f05400fb, #97350193);
  font-weight: bold;
  color: #ffffffc2;
  font-size: 12px;
}

/*----------------------------------*/

.account-access {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
  z-index: 11;
  padding: 10px 30px;
  border-top: 2px inset #ff5900;
  border-left: 4px inset #ff5900;
  background: linear-gradient(to top, #00000098, #000000);
  margin-top: 22.5px;
  margin-bottom: 35px;
  text-align: center;
  border-radius: 20px;
  color: rgba(255, 255, 255, 0.859);
}

.account-access p {
  margin-top: 10px;
}

.login-button {
  width: 44%;
  font-weight: bold;
  padding: 10px 20px;
  background: linear-gradient(360deg, #090909fb, #404040f5);
  box-shadow: 2px 2px 7px 0 rgba(11, 11, 11, 0.835);
  color: rgba(255, 255, 255, 0.931);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.login-button:hover {
  background: linear-gradient(360deg, #161616f6, #4b4b4b);
}

/*-------------------------------------------*/

.white {
  box-shadow: 3px 2px 7px 0 rgba(11, 11, 11, 0.835);
  border-top: 2px inset #ff5900;
  border-left: 4px inset #ff5900;
  background: linear-gradient(to left, #bababa, #ffffff);
  border-radius: 15px;
  width: 47%;
  margin: auto;
  position: relative;
  z-index: 13;
  margin-bottom: 40px;
  padding: 18px 10px;
}

.newsletter-section {
  box-shadow: 3px 2px 7px 0 rgba(11, 11, 11, 0.835);
  position: relative;
  z-index: 14;
  padding: 20px;
  background: linear-gradient(130deg, #ff5900e0, #3b1600dc);
  color: white;
  text-align: center;
  border-radius: 20px;
  margin: auto;
  width: calc(100% - 20px);
}

.newsletter-section input[type='email'] {
  width: 70%;
  transition: background-color 0.3s ease;
  background: linear-gradient(to bottom, #fffffff6, #909090ec);
  border-radius: 5px;
  padding: 9px;
  border: none;
}

.newsletter-section button {
  box-shadow: 3px 2px 7px 0 rgba(11, 11, 11, 0.835);
  margin-top: 20px;
  border-radius: 10px;
  width: 20%;
  padding: 10px 20px;
  background: linear-gradient(360deg, #090909e8, #4e4e4e);
  color: rgba(255, 255, 255, 0.971);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newsletter-section button:hover {
  background: linear-gradient(360deg, #0f0f0ff6, #6c6c6c);
}

@media (max-width: 768px) {
  .hero-cart-banner,
  .cart-box,
  .payment-methods,
  .promotion,
  .newsletter-section {
    width: 95%;
    margin: 10px auto;
    border-radius: 10px;
    padding: 15px;
  }

  .cart-box,
  .payment-methods,
  .promotion {
    flex-direction: column;
    align-items: center;
  }

  .cart-button,
  .payment-button,
  .subscribe-button {
    width: 80%;
    padding: 12px;
  }

  .product-card-two,
  .cart-box,
  .payment-methods {
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.35);
  }

  .newsletter-section input[type='email'],
  .newsletter-section button {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .hero-cart-banner,
  .cart-box,
  .payment-methods,
  .promotion,
  .newsletter-section {
    width: 100%;
  }

  .cart-box {
    background-color: rgba(215, 192, 192, 0.9);
    padding: 10px;
    border: none;
  }

  .cart-button,
  .payment-button,
  .subscribe-button {
    width: 100%;
  }
}
