body {
  background-image: url('/public/assets/18f020e6-e898-4a41-b5c5-fd16d5bf7a3e.webp');
  background-repeat: repeat;
  background-size: auto;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding: auto;
}

.home-container {
  width: 80%;
  margin: auto;
}

/* HERO BANNER */

.hero-banner {
  position: relative;
  z-index: 1;
  background-image: url('/public/assets/DALL·E 2024-05-16 13.11.58 -.webp');
  background-size: 100% auto;
  background-position: center;
  background-attachment: fixed;
  height: 1080px;
  color: rgb(229, 229, 229);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8.4% auto;
  border-radius: 7px;
  box-shadow: 8px 0px 60px rgba(10, 3, 0, 0.837);
}

.hero-banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.hero-banner > * {
  position: relative;
  z-index: 2;
}

.hero-banner h1 {
  margin-top: 70px;
  font-size: 48px;
  margin-bottom: 20px;
  text-align: center;
}

.hero-banner p {
  letter-spacing: 0.5px;
  font-size: 22.5px;
  margin-bottom: 95px;
  text-align: center;
}

.brand-container {
  background-image: url('/public/assets/fe010635-0dff-4975-8a59-7a55b44ca422.webp');
  background-repeat: no-repeat;
  background-size: 140% 235%;
  background-position: center;
  box-shadow: 8px 15px 35px rgba(0, 0, 0, 0.898);
  padding: 100px 150px;
  position: relative;
  border-radius: 20px;
  border-top: 2px inset #ff5900;
  border-left: 4px inset #ff5900;
  margin-top: 10%;
  margin-bottom: 30px;
}

.h1-container {
  padding: 0px 15px;
  margin: auto;
  box-shadow: 8px 15px 35px rgba(0, 0, 0, 0.898);
  position: relative;
  border-radius: 25px;
  background: linear-gradient(to top, #00000066, #000000);
  border-top: 2px inset #ff5900;
  border-left: 4px inset #ff5900;
}

.Ul-container {
  margin-top: 50px;
  box-shadow: 8px 15px 35px rgba(0, 0, 0, 0.898);
  right: 13%;
  position: relative;
  border-radius: 25px;
  padding: 15px;
  background: linear-gradient(to top, #00000066, #000000);
  border-top: 2px inset #ff5900;
  border-left: 4px inset #ff5900;
}

.hero-banner ul {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
  text-align: left;
  padding: 0;
  align-self: flex-start;
  margin-left: 100px;
  margin-top: 16px;
}

.hero-banner ul li {
  font-size: 20px;
  margin-bottom: 16px;
}

/* BUTTON JOIN ------------------------------*/

.fa-user-plus {
  font-size: 20px;
  margin-right: 13px;
}

.join-now-button {
  text-decoration: none;
  width: 20%;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  background: linear-gradient(to top, #00000088, #000000ef);
  border-top: 1px inset #ff5900;
  border-left: 3px inset #ff5900;
  color: #ffffffe7;
  cursor: pointer;
  font-size: 20px;
  border-radius: 18px;
  box-shadow: 0 10px 10px rgba(10, 3, 0, 0.8);
  transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
  margin: 6.5% 6%;
  align-self: flex-start;
  margin-bottom: 10%;
  text-align: center;
}

.join-now-button:hover {
  color: #ff5900dd;
  font-size: 20px;
  background: linear-gradient(to top, #020202ad, #000000ed);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  border-top: 1px inset #ff5900;
  border-left: 3px inset #ff5900;
  transition: box-shadow 0.2s ease, border 0.2s ease;
}

.join-now-button:active {
  font-weight: 900;
  font-size: 21px;
  background: linear-gradient(to bottom, #ff5900f6, #aa3c00bc);
  box-shadow: 1px 2px 8px rgba(218, 100, 4, 0.8);
  color: #080808f1;
  border-top: 1px inset #080808;
  border-left: 1px inset #060606;
  transition: box-shadow 0s ease, border 0s ease;
}

/* END BUTTON JOIN ------------------------------*/

/* Stile HERO-sub-IMG */
.hero-image {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  max-width: 200px;
  z-index: 2;
}

.hero-image img {
  width: 30%;
  height: auto;
  border-radius: 10px;
}

/* FINE Stile HERO-sub-IMG------------------------------*/

/*FINE HERO-BANNER--------------------------------------*/

.categories-section,
.featured-products-section {
  padding: 20px;
}

.categories-container,
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.category-card,
.product-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 200px;
  margin: 10px;
  text-align: center;
  border: 1px solid #212121;
}

.category-card:hover,
.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.category-image-wrapper,
.product-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.category-name,
.product-info {
  padding: 10px;
}

.product-info .product-name {
  font-size: 16px;
}

.product-info .product-price {
  color: #c44a1d;
  font-weight: bold;
}

/*  responsiveness  */

@media (max-width: 1024px) {
  .home-container {
    width: 90%;
  }

  .hero-banner {
    height: 600px;
    padding: 0 20px;
  }

  .hero-banner h1 {
    font-size: 40px;
  }

  .hero-banner p {
    font-size: 18px;
  }

  .hero-banner ul {
    margin-left: 50px;
  }

  .join-now-button {
    width: 30%;
    margin-top: 50px;
  }

  .hero-image {
    max-width: 150px;
  }
}

@media (max-width: 768px) {
  .categories-container,
  .products-container {
    flex-direction: column;
    align-items: center;
  }

  .category-card,
  .product-card {
    width: 90%;
    margin: 10px auto;
  }

  .hero-banner ul {
    align-self: center;
    text-align: center;
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .hero-banner {
    height: 400px;
  }

  .hero-banner h1 {
    font-size: 24px;
  }

  .hero-banner p,
  .hero-banner ul li {
    font-size: 16px;
  }

  .join-now-button {
    width: 80%;
    font-size: 16px;
    padding: 10px;
  }

  .hero-image {
    max-width: 100px;
    right: 10px;
  }
}
