.cart-box-log {
  position: relative;
  z-index: 3;
  box-shadow: 8px 0px 60px rgba(10, 3, 0, 0.837);
  width: 80%;
  background-position: center;
  height: 730px;
  color: rgb(229, 229, 229);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: url('/public/assets/heroLogin.webp') no-repeat center fixed;
  background-size: cover;
  margin: auto;
  margin-top: 7%;
  margin-bottom: 2.5%;
}

.cart-box-log::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.233);
  z-index: 1;
}

.cart-box * {
  position: relative;
  z-index: 2;
}

.login-box {
  color: #000000d7;
  z-index: 999;
  background: linear-gradient(to right, #ffffff, #bfbfbff7);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(191, 111, 111, 0.1);
  width: 350px;
  text-align: center;
}

input[type='email'],
input[type='password'] {
  background: linear-gradient(to right, #fffffff6, #c9c9c9ce);
  width: 100%;
  margin: 5px 30px;
}

.input-icon {
  display: flex;
  align-items: center;
  background-color: #ffffff64;
  border: 1px solid #ccccccb4;
  border-radius: 4px;
}

.input-icon i {
  background: #cacaca;
  color: #363636cb;
  min-width: 40px;
  text-align: center;
  border-right: 1px solid #ccc;
}

.input-icon input {
  width: 100%;
  padding: 10px;
  margin-left: 20px;
  border: none;
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  color: rgba(255, 255, 255, 0.939);
  cursor: pointer;
  border-radius: 10px;
}

.log-button {
  margin-bottom: 10px;
  margin-top: 20px;
  border-radius: 20px;
  font-weight: bold;
  padding: 10px 20px;
  background: linear-gradient(360deg, #1c1c1c, #6d6d6d);
  box-shadow: 2px 1px 7px 0 rgba(11, 11, 11, 0.835);
  color: rgba(255, 255, 255, 0.931);
  border: none;
  cursor: pointer;
}

.log-button:hover {
  background: linear-gradient(360deg, #1c1c1cf6, #4a4a4a);
}

.login-google {
  margin-top: 20px;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 7px 0 rgba(11, 11, 11, 0.835);
  border-radius: 20px;
  margin-bottom: 24px;
  background: linear-gradient(#ef533e, #9a3326ed);
}

.login-google:hover {
  background: linear-gradient(#c34231, #812d22e5);
}

.google-i-bg-2,
.fb-i-bg {
  box-shadow: 1px 1px 6px 0 rgba(11, 11, 11, 0.835);
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#ffffff, #949494);
  border-radius: 30px;
  width: 35px;
  height: 35px;
  margin-right: 25px;
  margin-left: 15px;
}

.fa-google {
  margin-right: 20px;
  font-size: 25px;
}

.login-facebook {
  background: linear-gradient(#4466af, #324b82);
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 7px 0 rgba(11, 11, 11, 0.835);
  border-radius: 20px;
  margin-bottom: 12px;
  border-radius: 20px;
}

.login-facebook:hover {
  background: linear-gradient(360deg, #304778, #30487b);
}

.fa-facebook-f {
  padding-top: 5px;
  margin-bottom: 1px;
  border-radius: 30px;
  width: 33px;
  font-size: 27px;
  background-color: #4267b2;
  color: rgba(255, 255, 255, 0.966);
}

.hr-log {
  margin-top: 20px;
  margin-left: 25px;
  max-width: 80%;
  color: #000000d8;
}

.divider {
  font-weight: bold;
  margin: 20px 0;
  font-size: 14px;
  color: #3c3c3c !important;
}

.signup {
  margin-top: 25px;
  color: #303030;
  font-size: 14px;
}

.signup a {
  color: #303030;
}

.signup a:hover {
  color: #1f3fb4;
}

/*-----------MEDIA QUERIES---------*/

@media (max-width: 1024px) {
  .login-container {
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .cart-box-log {
    width: 90%;
    padding: 20px;
  }

  .login-box {
    width: 80%;
  }

  input[type='email'],
  input[type='password'] {
    padding: 12px 20px;
  }

  .log-button,
  .login-google,
  .login-facebook {
    width: 100%;
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .login-container {
    height: auto;
    padding: 10px;
  }

  .cart-box-log {
    height: auto;
    margin-top: 10%;
    margin-bottom: 20px;
  }

  .login-box {
    width: 100%;
    padding: 15px;
  }

  .input-icon {
    margin: 0 10px;
  }

  .input-icon input,
  input[type='email'],
  input[type='password'] {
    font-size: 16px;
  }

  .log-button,
  .login-google,
  .login-facebook {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .login-container {
    flex-direction: column;
  }

  .cart-box-log {
    width: 100%;
    padding: 10px;
  }

  .login-box {
    padding: 10px;
  }

  .input-icon input,
  input[type='email'],
  input[type='password'] {
    padding: 15px;
  }

  .log-button,
  .login-google,
  .login-facebook {
    padding: 20px;
  }

  .signup,
  .divider {
    font-size: 14px;
  }
}
