.fixed-navbar {
  filter: blur(0.3px);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}

.fixed-navbar-two {
  filter: blur(0.3px);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar {
  height: 100px;
  width: 100%;
  margin: 0;
  background: linear-gradient(to top, #101010db, #000000fd);
  border-bottom: 5px inset #ff5900;
  box-shadow: 0 3px 10px #180701f0;
}

.navbar-two {
  padding-right: 3.5%;
  padding-left: 4.5%;
  height: 90px;
  width: 100%;
  margin: 0;
  background: linear-gradient(to top, #000000cc, #000000);
  border-bottom: 5px inset #ff5900;
  box-shadow: 0 3px 10px #180701f0;
  display: flex;
  align-items: center;
  filter: blur(0.3px);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar-brand {
  margin-left: auto;
  width: 250px;
}

.navbar-brand-two {
  margin-left: auto;
  margin-right: auto;
  width: 265px;
}

#logo-nav {
  transition: filter 0.3s ease, transform 0.3s ease;
}

#logo-nav:hover {
  filter: brightness(1.4);
  transform: scale(1.05);
}

.nav-icon {
  box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.581);
  font-size: 28px;
  margin-right: 5px;
}

.navbar-nav .nav-link {
  margin-right: 17px;
  font-size: 19px;
  color: #ddddddf3;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #ff5900;
  .navbar-nav .nav-link:active,
  .navbar-nav .nav-link.active {
    color: #ffbf7f;
  }
}

.navbar-nav .nav-link-2 {
  text-decoration: none;
}

.navbar-nav .nav-link-2 {
  margin-right: 50px;
  font-size: 26px;
  color: #ddddddf3;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link-2:hover,
.navbar-nav .nav-link-2:focus {
  color: #ff5900;
  .navbar-nav .nav-link:active,
  .navbar-nav .nav-link.active {
    color: #ffa953;
  }
}

.search-form {
  position: relative;
  max-width: 100%;
  width: 370px;
  margin: auto auto;
}

.form-control {
  height: 40px;
  transition: background-color 0.3s ease;
  background: linear-gradient(to bottom, #fffffff6, #767676f1);
  padding-right: 45px !important;
  border-radius: 20px !important;
  border: none !important;
}

.form-control::placeholder {
  font-weight: bold;
}

.search-icon {
  transition: all 0.2s ease;
  font-size: 25px;
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  color: #ff5900af;
  cursor: pointer;
}

.search-icon:hover {
  font-size: 30px;
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  color: #ff5900e4;
  cursor: pointer;
}

.form-control:hover {
  background-color: #000000;
}

.btn-outline {
  background-color: #f24d113f;
  color: #4f0101;
  border-color: #f24d11ba;
  transition: all 0.3s ease;
  position: relative;
}

.btn-outline:hover {
  background-color: #ff5900;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

/* Responsiveness */

@media (max-width: 768px) {
  .nav-icon {
    margin-right: 5px;
  }
}

@media (max-width: 992px) {
  .navbar {
    height: auto;
    padding: 10px 0;
  }

  .navbar-brand img {
    width: 100px;
    height: auto;
  }

  .navbar-nav {
    margin-top: 10px;
  }

  .navbar-nav .nav-link {
    font-size: 18px;
    margin-right: 15px;
  }

  .search-form {
    width: 100%;
    order: 3;
  }

  .form-control {
    height: 35px;
  }
}

@media (max-width: 768px) {
  .navbar {
    background: linear-gradient(to bottom, #333, #000);
  }

  .navbar-brand,
  .navbar-nav,
  .search-form {
    width: 100%;
    text-align: center;
  }

  .navbar-nav .nav-link {
    display: block;
    margin-right: 0;
  }

  .log-pos {
    display: none;
  }

  .search-icon {
    right: 20px;
  }
}

@media (max-width: 480px) {
  .navbar-brand img {
    width: 80px;
  }

  .navbar-nav .nav-link {
    padding: 10px 5px;
    font-size: 16px;
  }

  .btn-outline {
    padding: 8px 16px;
  }
}
