.home-container-list {
  width: 90%;
  margin: auto;
}

.hero-banner-list {
  position: relative;
  z-index: 1;
  background-image: url('/public/assets/banner-prod-list.webp');
  background-size: 100% auto;
  background-position: center;
  max-height: 100%;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8.4% auto;
  border-radius: 10px;
  box-shadow: 8px 0px 60px rgba(10, 3, 0, 0.837);
}

.hero-banner-list p {
  letter-spacing: 1.5px;
  text-align: center;
  font-weight: bold;
}

.hero-banner-list::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.434);
  z-index: 1;
}

.Plist-title {
  background: -webkit-linear-gradient(#c0c0c0, #e05e01);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 200;
  box-shadow: -8px -7px 13px 0 rgba(0, 0, 0, 0.936);
  padding: 10px 125px;
  border-radius: 20px;
  background: linear-gradient(to right, #fffffffa, #bbbbbbf7);
  border-top: 2px inset #ff5900e0;
  border-left: 4px inset #ff5900;
  margin-bottom: 10px;
  margin-top: 50px;
}

.product-card a,
.product-card a:visited,
.product-card a:hover,
.product-card a:active {
  text-decoration: none;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px;
  padding: 10px;
}

.product-card {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  z-index: 300;
  width: 400px;
  max-height: 500px;
  margin-left: auto 0;
  background: linear-gradient(to right, #fffffffa, #bbbbbbf7);
  border-radius: 12px;
  overflow: hidden;
  border: 2px outset #ff4400f6;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6), inset 0 0 10px #ff4400fa;
  transition: transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
}

.product-card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.8), inset 0px -13px 21px #ff4400;
}

.product-card a {
  max-width: 100%;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 110%;
}

.product-card img {
  width: 96%;
  min-height: 75%;
  max-height: 100%;
  object-fit: fill;
  margin: 7px;
  border-top: 2px inset #ea5600e1;
  border-left: 4px inset #bf4300cf;
  border-bottom: 6px groove #aa3e00ec;
  border-radius: 10px;
}

.product-card h3 {
  max-width: 90%;
  font-size: 24px;
  font-weight: 900;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.821);
  background: -webkit-linear-gradient(#111111, #4d4d4d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-right: 19px;
}

.product-card p {
  font-weight: 900;
  filter: blur(0.3px);
  letter-spacing: 2.5px;
  width: 35%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-self: center;
  font-size: 18px;
  color: #000000e0;
  background: linear-gradient(to top, #ff6511db, #af3d00e8);
  padding: 4px;
  border-radius: 40px;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
  margin-right: 30px;
  margin-top: 10px;
}

.price-and-icon {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-icon {
  background: linear-gradient(to right, #fffffffa, #00000092);
  border-radius: 20px;
  font-size: 35px;
  cursor: pointer;
  color: #000000c6;
}

.pagination {
  position: relative;
  z-index: 302;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  width: 90%;
  margin-bottom: 120px;
}

.pagination button {
  border-top: 1px inset #ea5600e1;
  border-left: 2px inset #d44a00cf;
  border-bottom: 4px groove #822f00ec;
  background: linear-gradient(to right, #fffffffa, #bbbbbbf7);
  color: rgb(0, 0, 0);
  font-weight: 900;
  margin: 10px 90px;
  cursor: pointer;
  font-size: 25px;
  border-radius: 10px;
  transition: background 0.3s ease;
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}

.pagination button:hover {
  background: linear-gradient(to right, #883000, #f85b00);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.pagination button.active {
  background: linear-gradient(to right, #d14900, #ea5600);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1024px) {
  .product-card {
    width: 48%;
  }
}

@media (max-width: 768px) {
  .product-card {
    width: 90%;
    margin: 10px auto;
  }

  .product-list {
    gap: 20px;
  }

  .hero-banner-list {
    margin-top: 50px;
  }

  .Plist-title {
    padding: 8px 50px;
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .product-card {
    width: 100%;
  }

  .product-card img {
    width: 100%;
    object-fit: cover;
  }

  .pagination button {
    margin: 5px 20px;
    font-size: 20px;
  }
}
